<ng-container *ngIf="weatherTime">
<ion-header class="app-layout__header ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="grid" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">{{weatherTime.name || 'Ubicación no disponible'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="getLocationUser()">
        <ion-icon name="reload" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content [fullscreen]="true" class="app-layout__content">
    <div class="weather-status" color="white">
      <span class="weather-status__condition">{{weatherTime.weather[0].description  | slice:0:1 | uppercase }}{{weatherTime.weather[0].description  | slice:1 | lowercase }}
      </span>
      <img
        src="https://openweathermap.org/img/wn/{{ weatherTime.weather[0].icon }}@2x.png"
        alt="cloudy"
        class="weather-status__icon"
      />
      <span class="weather-status__temp">{{ weatherTime.main.temp }}°</span>
      <span class="weather-status__date">{{ weatherTime.dt ? (weatherTime.dt * 1000 | date:'fullDate') : 'Cargando...' }}</span>
    </div>
  
    <ion-card class="weather-metrics">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-text-center weather-metrics__col">
            <ion-img src="assets/icons/icon-precipitation.svg" alt="precipitation"></ion-img>
            <span>{{ weatherTime.main.pressure }} hPa</span>
            <span>Presión</span>
          </ion-col>
          <ion-col size="4" class="ion-text-center weather-metrics__col">
            <ion-img src="assets/icons/icon-humidity.svg" alt="humidity"></ion-img>
            <span>{{ weatherTime.main.humidity }}%</span>
            <span>Humedad</span>
          </ion-col>
          <ion-col size="4" class="ion-text-center weather-metrics__col">
            <ion-img src="assets/icons/icon-windSpeed.svg" alt="windSpeed"></ion-img>
            <span>{{ weatherTime.wind.speed }} km/h</span>
            <span>Viento</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  
    <div class="forecast">
      <div class="forecast__header">
        <span>Hoy</span>
        <ion-button (click)="navigateToSevenDayForecast()">
          Más días
        </ion-button>
      </div>
      <div class="forecast__hours" *ngIf="hourlyForecast">
        <div class="hour-item" *ngFor="let hour of hourlyForecast.list.slice(0, 6)">
          <span class="time">{{ hour.dt_txt | date: 'shortTime' }}</span>
          <img [src]="'https://openweathermap.org/img/wn/' + hour.weather[0].icon + '.png'" class="weather-metric-icon"/>
          <span class="temp">{{ hour.main.temp }}°C</span>
        </div>
      </div>
    </div>
  
    <div class="other-cities">
      <div class="other-cities__header">
        <span>Otras ciudades</span>
        <ion-buttons>
        <ion-button (click)="openAddCityModal()">
          <ion-icon name="add-outline" color="white"></ion-icon>
        </ion-button>
        </ion-buttons>
      </div>
      <div class="other-cities__content">
        <div class="city-item" *ngFor="let cityWeather of weatherData">
          <div class="city-info">
            <img
            [src]="'http://openweathermap.org/img/wn/' + cityWeather.weather[0].icon + '.png'"
              alt="cloudy"
              class="weather-metric-icon"
            />
            <div class="city-desc">
              <span class="name">{{ cityWeather.name }}</span>
              <span class="condition">{{ cityWeather.weather[0].description | slice:0:1 | uppercase }}{{ cityWeather.weather[0].description | slice:1 | lowercase }}</span>
            </div>
            <span class="temp">{{ cityWeather.main.temp }}°</span>
          </div>
        </div>      
      </div>
    </div>
  </ion-content>
</ng-container>
