<ion-header class="app-layout__header ion-no-border">
  <ion-toolbar>
    <ion-title color="white">Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="app-layout__content">
  <div class="notifications__list">
    <ion-card *ngFor="let notification of notifications" class="notifications__item">
      <div class="notifications__item-content">
        <div class="notifications__item-icon">
          <ion-icon 
            [name]="getNotificationIcon(notification)"
            class="notifications__item-icon__icon"></ion-icon>
        </div>
        <div class="notifications__item-text">
          <h3 class="notifications__item-title">{{ notification.title }}</h3>
          <p class="notifications__item-description">{{ notification.description }}</p>
          <span class="notifications__item-time">{{ notification.timestamp | date:'short' }}</span>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>