.router-link-active {
    background: url('/assets/rectangle.svg') no-repeat center center;
    background-size: contain;
    background-position: center center;
    color: white;
  }

  .tab-selected{
    color: none;
  }

  