// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: #523D7F;
	--ion-color-primary-rgb: 82,61,127;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #483670;
	--ion-color-primary-tint: #63508c;

	--ion-color-secondary: #957DCD;
	--ion-color-secondary-rgb: 149,125,205;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #836eb4;
	--ion-color-secondary-tint: #a08ad2;

	--ion-color-tertiary: #DEDDDD;
	--ion-color-tertiary-rgb: 222,221,221;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #c3c2c2;
	--ion-color-tertiary-tint: #e1e0e0;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

	--ion-color-white: #DEDDDD;
	--ion-color-white-rgb: 222,221,221;
	--ion-color-white-contrast: #fff;
	--ion-color-white-contrast-rgb: 0,0,0;
	--ion-color-white-shade: #c3c2c2;
	--ion-color-white-tint: #e1e0e0;

}

.ion-color-white{
	--ion-color-base: var(--ion-color-white) !important;
    --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
    --ion-color-contrast: var(--ion-color-white-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-white-shade) !important;
    --ion-color-tint: var(--ion-color-white-tint) !important;
}