<ion-header class="app-layout__header ion-no-border">
  <ion-toolbar>
    <ion-title color="white">Buscar por ciudad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="app-layout__content">
  <div class="search-container">
    <div class="search-box">
      <ion-icon name="search-outline"></ion-icon>
      <ion-input
        [(ngModel)]="city"
        placeholder="Bangalore"
        class="search-input"
        (ionInput)="searchCitySuggestions()"
        debounce="300"
      ></ion-input>
    </div>
  </div>
  
  <div *ngIf="citySuggestions.length > 0" class="suggestions-dropdown">
    <ion-list>
      <ion-item *ngFor="let suggestion of citySuggestions" (click)="selectCity(suggestion)">
        <ion-label>{{ suggestion.name }}, {{ suggestion.country }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  
  <div class="cities-list">
    <ion-item-sliding *ngFor="let item of cityWeather">
      <ion-item class="transparent-item">
        <div class="city-content" (click)="goToWeatherDetail(item.city)">
          <ion-card class="city-card">
            <div class="city-info">
              <h3>{{ item?.city | titlecase}}</h3>
              <p>{{ item?.desc | titlecase}}</p>
            </div>
          </ion-card>
          <div class="weather-icon-container">
            <img
              [src]="item?.iconUrl"
              alt="cloudy"
              class="icon-cloudy"
            />
          </div>
        </div>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeFromHistory(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-content>