/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


.app-layout {
  &__content {
      --background: 
          linear-gradient(to bottom, 
              rgba(40, 34, 127, 0.9),
              rgba(68, 29, 92, 0.9)
          ),
          url('/assets/background-meteo.svg') no-repeat center top;
      background-size: cover;
      background-attachment: fixed;
  }

  &__header {
      --ion-toolbar-background: #353287;
      box-shadow: none;
  }

  &__tabs {
      --background: rgb(84, 50, 108);
      box-shadow: none;
      border-top: none;
  }
}

ion-tab-button {
  --color: #DEDDDD;
}

/* Ocultar barras de desplazamiento en todas las pantallas */
ion-content::-webkit-scrollbar {
  display: none;
}

ion-content {
  --offset-bottom: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
  /* Aplicar un ancho máximo a toda la aplicación */
  ion-app {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Centrar el contenido principal */
  ion-router-outlet, ion-content, .app-layout__content, .app-layout__header {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Asegurar que las pestañas sean visibles */
  ion-tabs {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
  
  ion-tab-bar.app-layout__tabs {
    max-width: 600px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
}
